<div class="center jumbotron">
	<h1>WELCOM ALPHABLOG</h1>
	<%= link_to "sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge"%>
</div>

<%= link_to "Blog", articles_path %> || <%= link_to 'about', about_path %> <br>
